

<!-- Top -->
<div class="w3-top" th:fragment="header">
    <div class="w3-bar w3-theme w3-large" style="z-index:4;">
        <a class="w3-bar-item w3-button w3-left w3-hover-white w3-large w3-theme w3-padding-16" href="javascript:void(0)" onclick="w3_open()">☰</a>
        <a class="w3-bar-item w3-button w3-hide-medium w3-hide-small w3-hover-white w3-padding-16" href="javascript:void(0)" onclick="w3_show_nav('menuTut')">TUTORIALS</a>
        <a class="w3-bar-item w3-button w3-hide-medium w3-hover-white w3-padding-16" href="javascript:void(0)" onclick="w3_show_nav('menuRef')">REFERENCES</a>
    </div>
</div>


<!-- sidebar -->
<div class="w3-sidebar w3-light-grey w3-card-4 w3-animate-left" style="z-index:6;width: 270px; display: none;" id="main-sidebar" th:fragment="sidebar">
    <div class="w3-bar w3-dark-grey">
        <span class="w3-bar-item w3-padding-16">Content</span>
        <button onclick="w3_close()" class="w3-bar-item w3-button w3-right w3-padding-16" title="close Sidebar">×</button>
    </div>
    <div class="w3-sidebar w3-bar-block" style="height: -webkit-fill-available; overflow-y: auto; width: inherit;">
        <a class="w3-bar-item w3-button w3-green" href="javascript:void(0)">Home</a>
        <a class="w3-bar-item w3-button" href="javascript:void(0)">About</a>
        <a class="w3-bar-item w3-button" href="javascript:void(0)">Contact</a>
        <div class="w3-dropdown-hover">
            <a class="w3-button" href="javascript:void(0)">Dropdown <i class="fa fa-caret-down"></i></a>
            <div class="w3-dropdown-content w3-bar-block w3-card-4">
                <a class="w3-bar-item w3-button" href="javascript:void(0)">Link 1</a>
                <a class="w3-bar-item w3-button" href="javascript:void(0)">Link 2</a>
                <a class="w3-bar-item w3-button" href="javascript:void(0)">Link 3</a>
            </div>
        </div>
        <a class="w3-bar-item w3-button" href="javascript:void(0)">Support</a>
        <a class="w3-bar-item w3-button" href="javascript:void(0)">Support</a>
        <a class="w3-bar-item w3-button" href="javascript:void(0)">Support</a>
        <a class="w3-bar-item w3-button" href="javascript:void(0)">Support</a>
        <a class="w3-bar-item w3-button" href="javascript:void(0)">Support</a>
        <a class="w3-bar-item w3-button" href="javascript:void(0)">Support</a>
        <a class="w3-bar-item w3-button" href="javascript:void(0)">Support</a>
        <a class="w3-bar-item w3-button" href="javascript:void(0)">Support</a>
        <a class="w3-bar-item w3-button" href="javascript:void(0)">Support</a>
        <a class="w3-bar-item w3-button" href="javascript:void(0)">Support</a>
        <a class="w3-bar-item w3-button" href="javascript:void(0)">Support</a>
        <a class="w3-bar-item w3-button" href="javascript:void(0)">Support</a>
        <a class="w3-bar-item w3-button" href="javascript:void(0)">Support</a>
        <a class="w3-bar-item w3-button" href="javascript:void(0)">Support</a>
        <a class="w3-bar-item w3-button" href="javascript:void(0)">Support</a>
        <a class="w3-bar-item w3-button" href="javascript:void(0)">Support</a>
        <a class="w3-bar-item w3-button" href="javascript:void(0)">Support</a>
        <a class="w3-bar-item w3-button" href="javascript:void(0)">Support</a>
        <a class="w3-bar-item w3-button" href="javascript:void(0)">Support16</a>
        <a class="w3-bar-item w3-button" href="javascript:void(0)">Support</a>
        <a class="w3-bar-item w3-button" href="javascript:void(0)">Support</a>
        <a class="w3-bar-item w3-button" href="javascript:void(0)">Support18</a>
        <a class="w3-bar-item w3-button" href="javascript:void(0)">Support</a>
        <a class="w3-bar-item w3-button" href="javascript:void(0)">Support20</a>
    </div>
</div>


