

<!-- Top Header-->
<div class="w3-top" th:fragment="header">
    <div class="w3-bar w3-theme w3-xlarge" style="z-index:4;">
        <a class="w3-bar-item w3-left w3-hover-white" href="javascript:void(0)" title="Main Menu" onclick="w3_open()"><i class="material-icons">menu</i></a>
        <a class="w3-bar-item w3-left w3-hover-white" href="javascript:void(0)" title="Home">Brand</a>
        <a class="w3-bar-item w3-right w3-hover-white" href="javascript:void(0)" title="Settings"><i class="material-icons">settings</i></a>
        <a class="w3-bar-item w3-right w3-hover-white" href="javascript:void(0)" title="Logut"><i class="material-icons">logout</i></a>
    </div>
</div>


<!-- Main Sidebar Menu-->
<div class="w3-sidebar w3-light-grey w3-card-4 w3-animate-left" style="z-index:6;width: 240px; display: none;" id="main-sidebar" th:fragment="sidebar">
    <div class="w3-bar w3-dark-grey">
        <span class="w3-bar-item">Main Menu</span>
    </div>
    <div class="w3-bar w3-dark-grey">
        <a href="javascript:void(0)" onclick="w3_show_nav('menu1')" class="w3-bar-item w3-button w3-theme w3-hover-white" style="width:50%"><i class="material-icons">library_books </i></a>
        <a href="javascript:void(0)" onclick="w3_show_nav('menu2')" class="w3-bar-item w3-button w3-theme w3-hover-white" style="width:50%"><i class="material-icons">checklist</i></a>
    </div>

    <div class="w3-sidebar w3-bar-block w3-theme-l4" style="height: -webkit-fill-available; overflow-y: auto; width: inherit;">
        <div id="menu1" class="myMenu w3-bar-block" >
            <div class="w3-container"><i class="fa-thin fa-folders"></i>
                <h3>Tutorials</h3>
            </div>
            <a class="w3-bar-item w3-button" href="/html/default.asp">Learn HTML</a>
            <a class="w3-bar-item w3-button" href="/css/default.asp">Learn CSS</a>
            <a class="w3-bar-item w3-button" href="/css/default.asp">About Us</a>
            <a class="w3-bar-item w3-button" href="/css/default.asp">Contact Us</a>
            <a class="w3-bar-item w3-button" href="/css/default.asp">Logout</a>
        </div>
        <div id="menu2" class="myMenu w3-bar-block" style="display:none">
            <div class="w3-container">
                <h3>References</h3>
            </div>
            <a class="w3-bar-item w3-button" href='/tags/default.asp'>HTML Tag Reference</a>
            <a class="w3-bar-item w3-button" href='/colors/default.asp'>HTML Color Reference</a>
            <div class="w3-dropdown-hover">
                <a class="w3-button" href="javascript:void(0)">Dropdown <i class="fa fa-caret-down"></i></a>
                <div class="w3-dropdown-content w3-bar-block w3-card-4">
                    <a class="w3-bar-item w3-button" href="javascript:void(0)">Link 1</a>
                    <a class="w3-bar-item w3-button" href="javascript:void(0)">Link 2</a>
                    <a class="w3-bar-item w3-button" href="javascript:void(0)">Link 3</a>
                </div>
            </div>
            <a class="w3-bar-item w3-button" href="javascript:void(0)">Support</a>
        </div>
    </div>

</div>
